<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>   olá 
 {{ user }} <!-- usuario   --> 
 | {{user.first_name}} |  <!-- primiero nome    -->  
 {{user.password}}   <!-- senha --> 

 {% if user.is_authenticated %}
  <p> se estiver logado entra aqui</p>
 {% else %}
<p> caso não esteja entra aqui</p>
 {% endif %}

 <a href=" {% url 'user_logout' %} "> clique aqui para sair</a>
  </h1>
</body>
</html>